{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}
<div class="container post">
  <h1 class="post-title">{{ post.title }}</h1>
  <p class="post-author">By {{ post.author_name }}</p>
  <img src="{{ post.image.url }}" alt="{{ post.title }}"
    style="width:350px;height:550px;object-fit:cover;margin-bottom:12px;">
  <div class="post-content">
    {{ post.content|linebreaks }}
  </div>
  <a href="/" class="back">← Back</a>
</div>
{% endblock %}